body {
    color: #AA0000;
    font-size: 20px;
    background-color: rgb(129, 199, 212);
    font-family: sans-serif;
}

h1 {
    color: #FFF8DC;
    font-size: 40px;
    font-weight: bolder;
}

p {
    color: #770077;
    font-size: 18px;
}

li {
    color: #191970;
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
}

p:nth-of-type(2) {
    color: #26453D;
    font-size: 22px;
}

#back1 {
    color: #770077;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

li a {
    text-decoration: none;
}
